.idea/
figures/
tensorflow-deeplab-lfov/images/
tensorflow-deeplab-lfov/pickles/
tensorflow-deeplab-lfov/heatmaps/
tensorflow-deeplab-lfov/past_models/
tensorflow-deeplab-lfov/dataset/
tensorflow-deeplab-lfov/snapshots/
tensorflow-deeplab-lfov/test_outputs/
tensorflow-deeplab-lfov/train_outputs/
tensorflow-deeplab-res0_model/
tensorflow-deeplab-resnet/images/
tensorflow-deeplab-resnet/dataset/
tensorflow-deeplab-resnet/snapshots/
info/
*.ckpt
*.ckpt*
*.pyc
*.swp
